body {
	width:798px;
	min-height:504px;
	_height:494px
}
body, div, table, td, ul, li, form, p, h1, h2, h3, form, input, textarea, img, iframe, dl, dd, dt {
	margin:0;
	padding:0;
	line-height:1.2;
	font:12px "arial,ו"
}
em, b {
	font-style:normal;
	font-weight:normal
}
ul, li {
	list-style-type:none
}
img {
	border:0
}
a {
	font:12px "arial,ו";
	color:#000;
	text-decoration:none;
	line-height:1.2;
	cursor:pointer
}
a:hover {
	color:red;
	text-decoration:underline
}
.hot2 {
	color:red
}
.hot {
	color:green
}
.b {
	font-weight:bold
}
.app_top {
	height:32px;
	margin:10px 10px 0;
	overflow:hidden
}
.app_top h2 {
	font-size:14px;
	font-weight:bold;
	float:left
}
.app_titleicon {
	display:inline-block;
	width:32px;
	height:28px;
	vertical-align:middle
}
.app_top_r {
	float:right;
	width:386px;
	padding-top:6px
}
.app_model {
	float:right
}
.app_model a {
	display:inline-block;
	width:14px;
	height:14px;
	margin-left:4px;
	vertical-align:top;
*vertical-align:baseline
}
.app_top2 {
	height:36px;
	padding:14px 0 0
}
.app_bt01 {
	background:url(app_iconbg1.png) no-repeat 0 -181px;
	color:#048;
	border:none
}
.app_bt02 {
	background:url(app_iconbg1.png) no-repeat 0 -151px;
	color:#999;
	border:none
}
.app_bt03 {
	background:url(app_iconbg1.png) no-repeat 0 -211px;
	color:#fff;
	border:none
}
a.app_bt01:hover, a.app_bt03:hover {
	color:#f00
}
a.app_bt02:hover {
	color:#999
}

.app_bt01, .app_bt02 {
	display:inline-block;
	height:22px;
	width:78px;
	margin:0 4px 0 0;
	padding:8px 0 0 26px;
	position:relative;
	text-align:center;
	float:left
}
.app_bt03 {
	display:inline-block;
	height:30px;
	width:104px;
	margin:0 4px 0 0;
	text-align:center;
	float:left;
	font-size:14px
}
.app_bt01 em, .app_bt02 em {
	display:block;
	height:24px;
	left:6px;
	position:absolute;
	top:4px;
	width:24px;
}
a.app_bt01:hover, a.app_bt02:hover {
	text-decoration:none
}
.app_s_input {
	width:160px;
	height:22px;
	padding:0 2px;
	line-height:22px;
	float:left
}
.app_s_sbt {
	width:48px;
	height:26px;
	text-align:center;
	float:left;
	margin-top:-1px
}
.app_top3 {
	height:26px;
	padding-top:14px
}
.app_tabarea {
	float:left;
	width:500px;
	padding-left:10px
}
.app_tabarea a {
	display:block;
	display:inline-block;
	float:left;
	margin-right:6px;
	width:100px;
	height:26px;
	font-size:14px;
	line-height:26px;
	text-align:center
}
.app_tabarea a:hover {
	text-decoration:none
}
.app_tabarea a.app_bt_sc {
	font-weight:bold;
	position:relative
}
.app_pages {
	padding-top: 10px;
	text-align:center;
}
.app_pages select {
	vertical-align:bottom;
	margin-left:10px
}
.app_pages span {
	margin-right:10px;
}
.app_pages span, .app_pages a {
	display:inline-block;
	height:18px;
	line-height:18px;
}
.app_pages a {
	margin-left:2px;
	padding: 0 4px;
}
.app_foot {
	clear:both;
	height:24px;
	margin-bottom:10px
}
.app_yijian {
	margin-right:15px;
	height:20px;
	float:right
}
.app_yijian em {
	display:inline-block;
	width:16px;
	height:16px;
	background:url(app_iconbg.png) no-repeat 0 -102px
}
.app_yijian a {
	text-decoration:none;
}
body {
	border:1px solid #A1BBDC;
	background:#F8FBFE
}
.app_top h2, .app_yijian {
	color:#048
}
.app_jindu {
	color:#888
}
.app_top {
	border-bottom:1px solid #CCDBEC
}
.app_model_lb {
	background:url(app_iconbg.png) -14px 0 no-repeat
}
.app_model_lb_on {
	background:url(app_iconbg.png) 0 0 no-repeat
}
.app_model_yl {
	background:url(app_iconbg.png) -14px -14px no-repeat
}
.app_model_yl_on {
	background:url(app_iconbg.png) 0 -14px no-repeat
}
#memo_body .app_titleicon {
	background:url(app_titleicon.png) -4px -4px no-repeat
}
#disk_body .app_titleicon {
	background:url(app_titleicon.png) -4px -38px no-repeat
}
#fav_body .app_titleicon {
	background:url(app_titleicon.png) -4px -70px no-repeat
}
#notebook_body .app_titleicon {
	background:url(app_titleicon.png) -4px -103px no-repeat
}
#music_body .app_titleicon {
	background:url(app_titleicon.png) -4px -136px no-repeat
}
#news_body .app_titleicon {
	background:url(app_titleicon.png) -4px -171px no-repeat
}
#sock_body .app_titleicon {
	background:url(app_titleicon.png) -4px -206px no-repeat
}
#tool_body .app_titleicon {
	background:url(app_titleicon.png) -2px -242px no-repeat
}
#tuangou_body .app_titleicon {
	background:url(app_titleicon.png) -2px -279px no-repeat
}
#xz_body .app_titleicon {
	background:url(app_titleicon.png) -2px -319px no-repeat
}
#softwares_body .app_titleicon {
	background:url(app_titleicon.png) -4px -356px no-repeat
}
#appset_body .app_titleicon {
	background:url(app_titleicon.png) -4px -392px no-repeat
}
#mobi_body .app_titleicon {
	background:url(app_titleicon.png) -4px -430px no-repeat
}
#caipiao_body .app_titleicon {
	background:url(app_titleicon.png) -4px -467px no-repeat
}
.app_top2, .app_top3 {
	border-bottom:1px solid #A1BBDC
}
.app_bt01 {
	border:1px solid #5E81A4;
	background:url(app_iconbg.png) 0 -50px repeat;
	color:#fff
}
.app_bt02 {
	border:1px solid #5E81A4;
	background:#EBEBEB;
	color:#999
}
a.app_bt01:hover {
	color:#FF9
}
a.app_bt02:hover {
	color:#999
}
.app_search {
	float:right;
	width:225px
}
.app_s_input {
	background:url(app_iconbg.png) 0 -72px repeat;
	color:#888;
	border:1px solid #A1BBDC
}
.app_tabarea a {
	background:url(tabbg.png) 0 -26px no-repeat;
	color:#004488;
}
.app_tabarea a.app_bt_sc, .app_tabarea a.app_bt_sc:hover {
	background:url(tabbg.png) 0 0 no-repeat;
	color:#FFF;
}
.app_tabarea a:hover {
	color:#f00
}
.app_pages {
	border-top: 1px solid #D8E9FF
}
.app_pages span, .app_pages a {
	color:#048
}
.app_pages a {
	background:#fff;
	border: 1px solid #d8e8ff
}
